<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="login_page">
        <h2>Login As</h2>
        <input type="text" id="username">
        <button id="login">Login</button>
    </div>
    <div id="call_page">
	<h1>本地视屏流</h1>
        <video id="you" autoplay></video>
    <h2>远程视屏流</h2>
        <video id="other" autoplay></video>
    <div>
        <input type="text" id="other_username"><br>
        <button id="call">Call</button><br>
        <button id="hang_up">Hang up</button><br>
    </div>

    </div>

</body>
<script src="/static/js/jquery-1.10.1.min.js"></script>
<script src="/static/js/BandwidthHandler.js"></script>
<script src="/static/js/main.js"></script>
</html>